<div class="w3-half">
  <div class="w3-section">
    <input class="w3-input" type="text" required>
    <label>Name</label>
  </div>
  <div class="w3-section">
    <input class="w3-input" type="text" required>
    <label>Email</label>
  </div>
  <div class="w3-section">
    <input class="w3-input" type="text" required>
    <label>Phone Number</label>
  </div>

  <div class="w3-row">
    <div class="w3-half">
      <input id="vegetarian" class="w3-check" type="checkbox">
      <label>Vegetarian</label>
      <br>
      <input id="vegan" class="w3-check" type="checkbox">
      <label>Vegan</label>
      <br>
    </div>

    <div class="w3-half">
      <input id="chef" class="w3-radio" type="radio" name="chef" value="chef">
      <label>Chef</label>
      <br>
      <input id="guest" class="w3-radio" type="radio" name="chef" value="guest">
      <label>Guest</label>
      <br>
    </div>
  </div>
</div>





<img src="https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?cs=srgb&dl=top-view-of-food-1640772.jpg&fm=jpg" style="width:100%">
<img src="https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?cs=srgb&dl=selective-focus-photography-of-pasta-with-tomato-and-basil-1279330.jpg&fm=jpg" style="width:100%">
