<!DOCTYPE html>
<html>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <style>
  body,h1 {font-family: "Montserrat", sans-serif}
  /* Modal Image */
  .mdimg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/5929/food-salad-dinner-eating.jpg?cs=srgb&dl=lunch-table-5929.jpg&fm=jp");
  min-height: 400px;
  }
  </style>

  <body>
    <!-- Header -->
    <header class="w3-container w3-theme w3-padding" class="w3-col w3-container m2 w3-teal" id="myHeader">
      <div class="w3-center">
      </br><h3 style="font-size:1.6em">Daily meal planner and coordination</h3> </br>
      <h1 class="w3-animate-bottom w3-wide" style="font-size:4.8em">DINNER PARTY</h1>
        <div class="w3-padding-32">
          <button class="w3-btn w3-xlarge w3-red w3-hover-orange" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">Join Now</button>
        </div>
      </div>

    <!-- Modal -->
    <div id="id01" class="w3-modal">
      
    </header>

    <!-- Photo Grid -->
    <div class="w3-row" id="myGrid" style="max-height:550px; overflow:hidden;">
      <div class="w3-third">
        <img src="https://images.pexels.com/photos/277253/pexels-photo-277253.jpeg?cs=srgb&dl=anise-aroma-art-bazaar-277253.jpg&fm=jpg" style="width:100%">
        <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?cs=srgb&dl=flat-lay-photography-of-vegetable-salad-on-plate-1640777.jpg&fm=jpg" style="width:100%">
        <img src="https://images.pexels.com/photos/691114/pexels-photo-691114.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="width:100%">
      </div>

      <div class="w3-third" >
        <img src="https://images.pexels.com/photos/5938/food-salad-healthy-lunch.jpg?cs=srgb&dl=spinach-chicken-pomegranate-salad-5938.jpg&fm=jpg" style="width:100%">
        <img src="https://images.pexels.com/photos/1099680/pexels-photo-1099680.jpeg?cs=srgb&dl=top-view-photo-of-food-dessert-1099680.jpg&fm=jpg" style="width:100%">
        <img src="https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?cs=srgb&dl=top-view-of-food-1640772.jpg&fm=jpg" style="width:100%">
        <img src="https://images.pexels.com/photos/1435909/pexels-photo-1435909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="width:100%">
      </div>

      <div class="w3-third">
        <img src="https://images.pexels.com/photos/1109197/pexels-photo-1109197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="width:100%">
        <img src="https://images.pexels.com/photos/704569/pexels-photo-704569.jpeg?cs=srgb&dl=cooked-food-704569.jpg&fm=jpg" style="width:100%">
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-theme-dark w3-padding-16">
      <p>Powered by MangoDB, Google Cloud, Domain.com, & w3.css</p>
      <div style="position:relative;bottom:20px;" class="w3-tooltip w3-right">
        <span class="w3-text w3-theme-light w3-padding">Go To Top</span>
        <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
        <i class="fa fa-chevron-circle-up"></i></span></a>
      </div>
    </footer>

  </body>

  <script>

  </script>

</html>
