{% extends "layout.html" %}


{% block header %} 

  <!-- Modal -->

  <div class="w3-center">
  </br><h3 style="font-size:1.6em">Daily meal planner and coordination</h3> </br>
  <h1 class="w3-animate-bottom w3-wide" style="font-size:4.8em">DINNER PARTY</h1>
    <div class="w3-padding-32">
      <button class="w3-btn w3-xlarge w3-red w3-hover-orange" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">Join Now</button>
    </div>
  </div>

  <div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-theme-l1">
      <span onclick="document.getElementById('id01').style.display='none'"
      class="w3-button w3-display-topright">x</span>
      <h4>Sign Up</h4>
    </header>

    <script>
      function createGroup(){
        window.location.href = '/createGroup?groupName='+document.getElementById('groupName').value;
      }
    </script>

    <!-- Container (User info) -->
    <form>
      <div class="mdimg w3-display-container w3-opacity-min">
        <div class="w3-display-middle w3-text-white w3-wide">
          <h2>What's your Party Name?</h2>
          <div class="w3-section">
            <input id="groupName" class="w3-input" type="text" required placeholder="Group Name">
          </div>
          <div class="w3-center">
          <button onclick="createGroup()" class="w3-button w3-black w3-center" type="button">
            <i class="fa fa-paper-plane"></i> Get Cookin!
          </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  </div>

{% endblock header %}

{% block content %}

  <!-- Photo Grid -->
  <div class="w3-row" id="myGrid" style="max-height:550px; overflow:hidden;">
    <div class="w3-third">
      <img src="https://images.pexels.com/photos/277253/pexels-photo-277253.jpeg?cs=srgb&dl=anise-aroma-art-bazaar-277253.jpg&fm=jpg" style="width:100%">
      <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?cs=srgb&dl=flat-lay-photography-of-vegetable-salad-on-plate-1640777.jpg&fm=jpg" style="width:100%">
      <img src="https://images.pexels.com/photos/691114/pexels-photo-691114.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="width:100%">
    </div>

    <div class="w3-third" >
      <img src="https://images.pexels.com/photos/5938/food-salad-healthy-lunch.jpg?cs=srgb&dl=spinach-chicken-pomegranate-salad-5938.jpg&fm=jpg" style="width:100%">
      <img src="https://images.pexels.com/photos/1099680/pexels-photo-1099680.jpeg?cs=srgb&dl=top-view-photo-of-food-dessert-1099680.jpg&fm=jpg" style="width:100%">
      <img src="https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?cs=srgb&dl=top-view-of-food-1640772.jpg&fm=jpg" style="width:100%">
      <img src="https://images.pexels.com/photos/1435909/pexels-photo-1435909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="width:100%">
    </div>

    <div class="w3-third">
      <img src="https://images.pexels.com/photos/1109197/pexels-photo-1109197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="width:100%">
      <img src="https://images.pexels.com/photos/704569/pexels-photo-704569.jpeg?cs=srgb&dl=cooked-food-704569.jpg&fm=jpg" style="width:100%">
      </div>
  </div>

{% endblock content %}