<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta charset="UTF-8">

    <style>
        body,h1 {font-family: "Montserrat", sans-serif}
        .footer {
         position: fixed;
         left: 0;
         bottom: 0;
         width: 100%;
       }
    </style>

    <!-- Header -->
    <header class="w3-container w3-theme w3-padding" class="w3-col w3-container m2 w3-teal" id="myHeader">
        <div class="w3-top w3-hide-small">
            <div class="w3-bar w3-xlarge w3-teal w3-opacity w3-hover-opacity-off" id="myNavbar">
                <a href="/index" class="w3-bar-item w3-button">HOME</a>
            </div>
        </div>

        <div class="w3-center">
            {% block header %} {% endblock %}
        </div>

    </header>

    <body>
        {% block content %} {% endblock %}
    </body>

    <!-- Footer -->
    <footer style="position:fixed; bottom:0; left:0; width:100%;" class="w3-container w3-theme-dark w3-padding-16">
        <p>Powered by MangoDB, Google Cloud, Domain.com,Twilio & w3.css</p>
        <div style="position:relative;bottom:20px;" class="w3-tooltip w3-right">
          <span class="w3-text w3-theme-light w3-padding">Go To Top</span>
          <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
          <i class="fa fa-chevron-circle-up"></i></span></a>
        </div>
    </footer>

</html>
